@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  color: hsl(200, 15%, 8%);
  list-style-type: none;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  background-color: hsl(0, 0%, 98%);
}
.app_container {
  display: flex;
  flex-direction: column;
}

/* header */
.app_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0px 1px 8px rgb(170, 170, 170);
}
.dark-mode {
  display: none;
}
.light-mode {
  display: flex;
  align-items: center;
  gap: 10px;
}
.countries {
  padding: 40px;
}

@media only screen and (max-width: 600px) {
  .app_header_title {
    font-size: 16px;
  }
  .app_header_dark-light-mode_container {
    font-size: 14px;
  }
  .app_header {
    padding: 30px 20px;
  }
}
/* header end */

/* navbar */
.countries_nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.countries_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.countries_container_country {
  background-color: white;
  margin-bottom: 40px;
}

.countries_nav_searchBarContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 30%;
  border-radius: 2px;
  box-shadow: 2px 2px 6px 0px rgb(170, 170, 170);
}
.countries_nav_searchBarContainer_searchbar {
  padding: 15px 15px 15px 0px;
  border-radius: 2px;
  border: none;
  outline: none;
  width: 100%;
}
.countries_nav_searchBarContainer_searchIcon {
  padding: 0px 20px;
}
@media only screen and (max-width: 879px) {
  .countries_nav_searchBarContainer {
    width: 45%;
  }
}
@media only screen and (max-width: 600px) {
  .countries_nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .countries_nav_searchBarContainer {
    width: 100%;
  }
}
/* navbar end */

/* Countries */
.countries_container * {
  text-decoration: none;
  color: hsl(200, 15%, 8%);
}
.countries_container_country_img {
  display: block;
}
.countries_container_country_txt {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 24px 40px 40px 40px;
  gap: 5px;
}
.countries_container_country_txt_name {
  margin-bottom: 10px;
}
.countries_nav_regionContainer {
  background-color: white;
  width: 200px;
  border-radius: 2px;
  box-shadow: 2px 2px 8px rgb(170, 170, 170);
}
.countries_nav_regionContainer_regions {
  padding: 15px;
  border-radius: 2px;
  border: none;
  outline: none;
  width: 100%;
}
@media only screen and (max-width: 879px) {
  .countries_container {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .countries_container_country_img {
    width: 300px;
    height: 150px;
  }
  .countries_container_country_txt {
    max-width: 300px;
  }
  .countries {
    padding: 30px 20px;
  }
}
/* countries end */

/* Details */
.details {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
.countryDetails-container {
  display: flex;
  gap: 80px;
  height: 400px;
}
.go-back-button-container {
  display: flex;
  margin: 60px 0px;
}
.go-back-button-container_button {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 14px rgb(170, 170, 170);
  text-decoration: none;
}
.go-back-button-container_button_icon {
  margin-right: 10px;
}
.countryDetails-container_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
  width: 100%;
  max-width: 40%;
}
.countryDetails-container_description_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0;
  height: 200px;
  gap: 10px;
}
.countryDetails-container_description_info * {
  box-sizing: border-box;
}
.countryDetails-container_flag {
  width: 600px;
}
.countryDetails-container_description_info_borders_list_item {
  padding: 5px 20px;
  border-radius: 2px;
  /* background-color: white; */
  box-shadow: 0px 0px 4px rgb(170, 170, 170);
  cursor: pointer;
}
.countryDetails-container_description_info_borders_list {
  gap: 10px;
}
.countryDetails-container_description_info_borders_list a {
  text-decoration: none;
}
.countryDetails-container_description_info_borders_description {
  display: flex;
  align-items: center;
}
.countryDetails-container_description_info_borders {
  gap: 10px;
}

.countryDetails-container_description_info_nativeNames,
.countryDetails-container_description_info_currencies,
.countryDetails-container_description_info_languages,
.countryDetails-container_description_info_borders {
  display: flex;
}
.countryDetails-container_description_info_nativeNames_list,
.countryDetails-container_description_info_currencies_list,
.countryDetails-container_description_info_languages_list,
.countryDetails-container_description_info_borders_list {
  display: flex;
  padding-left: 4px;
}
